@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Noto+Sans&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    color: #76c893;
    margin-bottom: 0px;
    font-size: 36pt;
    
}

#hero-msg h4 {
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 0px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 724px;
    background-color:#184e77 ;
}

body{
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-family: Georgia, serif ;
    font-family: "Nato Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #184e77;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #76c893 ;
    color: black;
}

.book{
    background-color:#168aad ;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color: #76c893;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color:#76c893 ;
    color: black;
}

.join:hover{
    background-color: #76c893;
    color: black;
}

.msg{
    background-color:#168aad ;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #00000090;
    
}

footer{
    background-color: #184e77;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title{
    color: #184e77;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-family: 'Brush Script MT', cursive;
    font-family: "Kalam";
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
}

.msg h2{
    color: white;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-family: 'Brush Script MT', cursive;
    font-family: "Kalam";
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #76c893;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin:0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid #76c893;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

#background{
    grid-column:1/11;
    grid-row: 4/9;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #00000090;

}

.msg{
    grid-column: 6/10;
    grid-row: 6/7;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* Below is the css for the subpage "blog" */











#grid-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-content{
    line-height: 30px;
    text-align: left;
    font-size: 13pt;
}

.blog-images{
    max-width: 400px;
    border: solid 10px #76c893;
    box-shadow: 5px 5px 10px #00000090;
    border-radius: 5px;
    
}

#blog-grid{
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Trebuchet MS', sans-serif;
    font-family: Georgia, serif ;
    font-family: "Nato Sans", Helvetica, sans-serif;
}
.blog-paragraph-title{
    color: #168aad;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-family: 'Brush Script MT', cursive;
    font-family: "Kalam";
    font-size: 18pt;

}

#blog-title{
    color: #184e77;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-family: 'Brush Script MT', cursive;
    font-family: "Kalam";
    font-size: 34pt;
    text-align: center;
    border: solid 5px;
    background-color: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}

.blog-body{
    background-color: #ddb892;
}

#book-now-link:hover{
    background-color: #76c893;
}

#paragraph1{
    grid-column: 1/2;
    grid-row: 2/3;
}

#blog-book-image{
    grid-column:2/3;
    grid-row: 1/3;
    margin: 0 auto;
    width: 60%;
    margin-top: 50px;
}
#highlights-title{
    margin-bottom: 0;
    margin-top: 150px;
}
#paragraph2{
    grid-column: 1/2;
    grid-row: 4/5;
}

#blog-highlight-image{
    grid-column: 2/3;
    grid-row: 3/5;
    margin: 0 auto;
    margin-top: 200px;
}

#paragraph3{
    grid-column: 1/2;
    grid-row: 6/11;
}

#scorpion{
    grid-row: 6/8;
    margin: 0 auto;
}

#ram{
    grid-row: 9/11;
    margin: 0 auto;
}

#paragraph1-title{
    margin-top: 30px;
    margin-bottom: 0;
}

#encounters-title{
    margin-bottom: 0;
    margin-top: 150px;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}