#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 16pt;
}

header{
    background-color: #184e77;
    display: grid;
    grid-template-columns: 300px auto;
}

.logo{
    width: 80px;
}