body{
    background-color: purple;
    padding: 0;
    margin: 0;
}

h1{
    background-color: aqua;
    padding: 30px;
    border: 30px double lime;
    margin-left: 20px;
    border-radius: 50px;
    color:#0000AA;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}