body{
    background-color: #FCA6C9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    margin: auto;
    border: 1px solid red;  
}
#heading{
    color: white;
    
}
#heading:hover{
    color: black;
}
.quote{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#list{
    text-align: left;
    counter-increment: step-counter;
    margin-bottom: 10px;
    font-size: 10px
}
#nelson{
    width: 40%;
}
h5{
    color: white;
}
li{
    margin-bottom: 8px;
    font-weight: 800;
}
#quote1{
    text-align: center;
    font-size: 8pt;
}
.quote2{
    width: 80%;
    text-align: center;
    font-size: 30px ;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
footer{
    text-align: center;
    font-size: smaller;
}