@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Home page */

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

#content{
    max-width: 1500px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #1D3557;
    text-decoration: none;
    padding: 8px;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    border: solid 4px #A8DADC;
    border-radius: 20px;
    
    
}

nav a:hover {
    border: solid 4px #E63946;
    border-radius: 20px;
    
}

header{
    background-color: #A8DADC;
    display: grid;
    grid-template-columns: 150px auto;
    height: 125px;
    border-bottom: solid 3px #1D3557;

}

.logo{
    width: 150px;
    height: 122px;
    margin-left: 0px;
    margin-top: 0px;
    border-right: solid 3px #E63946;
    
}

.home_greeting{
    background: url("Images/Optimized-isaac-plouzek-Hwah5mS-8ww-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.overlay{
    background-color: rgba(0,0,0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    height: 500px;
}
#welcome_image{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
#main_header{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 40pt;
    color: #A8DADC;
    font-family: 'Finger Paint', cursive;
    padding-top: 50px;
    text-shadow: 2px 2px 4px #1D3557;
    
}
#main_text{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 20pt;
    color: #F1FAEE;
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
}

.home_custom{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5px;
}

#home_custom_image{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-height: 650px;
}

#home_custom_header{
    margin-top: 115px;
    color: #A8DADC;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 34pt;
    font-family: 'Lato', sans-serif;
}

#home_custom_link{
    margin-top: 425px;
    color: #F1FAEE;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    text-decoration: none;
    font-size: 20pt;
    font-family: 'Lato', sans-serif;
}
.link{
    text-decoration: none;
    color: #D4AC0D;
    font-size: 22pt;
}
.link:hover{
    text-decoration: underline 4px #E63946 ;
}
/* #ring_link{
    color: #1D3557; */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #1D3557;
    background-color: #A8DADC;
    font-family: 'Crimson Text', serif;
    align-items: center;
    justify-items: center;
    height: 100px;
    font-family: 'Lato', sans-serif;
    border-top: solid 3px #1D3557;

}

#copyright{
    margin-left: 50px;
}

#plan_link{
    text-decoration: none;
    color: #1D3557;
}



/* Rings page */


#rings_header{
    text-align: center;
    color:#1D3557;
    font-family:  'Finger Paint', cursive;
    font-size: 40pt;
    margin-top: 30px;
    text-shadow: 2px 2px 4px #A8DADC;
}

#ring_text{
    text-align: center;
    font-family:  'Lato', sans-serif;
    font-size: 24pt;
    margin-top: 50px;
    border-bottom: solid 3px #e2dde4;
    padding-bottom: 50px;
    /* padding-left: 50px;
    padding-right: 50px; */
    line-height: 48px;
}

.ring_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1500px;

}

.ring_image{
    max-width: 300px;
    height: 225px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;   
}

.ring{
    margin-top: 75px;
    margin-bottom: 75px;   
}

#ring_1{
 box-shadow: 4px 4px 10px #00000070; 
 border-radius: 7px; 
 border: solid 3px #A8DADC; 
}

#ring_2{
    box-shadow: 4px 4px 10px #00000070; 
    border-radius: 7px;
    border: solid 3px #A8DADC; 
}

#ring_3{
    box-shadow: 4px 4px 10px #00000070; 
    border-radius: 7px;
    border: solid 3px #A8DADC; 
}

#ring_4{
    box-shadow: 4px 4px 10px #00000070; 
    border-radius: 7px;
    border: solid 3px #A8DADC;  
}

.ring_text{
    border: solid 3px #e2dde4;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    max-width: 300px; 
    margin-top: 10px;   
}

.custom_ring_grid_container{
    display: grid;
    grid-template-columns: 700px 1fr;
    margin-bottom: 50px;
    border-top: solid 3px #e2dde4;
    padding-top: 50px;
}

#custom_question{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 75px;
    font-family: 'Lato', sans-serif ;
    font-size: 30pt;
    text-align: center;
    margin-top: 200px;
}

#custom_prompt_image{
    height: 600px;
    width: 700px;
    border-radius: 5px;
    border: solid 5px #1D3557 ;
}

#custom_prompt_link{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Lato', sans-serif ;
    font-size: 20pt;
    text-align: center;
    margin-top: 300px;
    border-radius: 0px;
    height: 35px;
    width: 425px;
    margin-left: 200px;
    border-left: solid 2px #1D3557 ;
    border-right: solid 2px #1D3557;
    /* box-shadow: 3px 3px 10px #00000070; */
}

#link{
    text-decoration: none;
    color:#E63946;
}

#link:hover{
    text-decoration: underline #E63946;
}

/* customization page */

#custom_page_header{
    text-align: center;
    font-size: 40pt;
    margin-top: 20px;
    font-family:  'Finger Paint', cursive;
    color:#1D3557;
    text-shadow: 2px 2px 4px #E63946;

}

.custom_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.custom_page_img{
    width: 420px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000070;
}
#customized_ring{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 35px;

}

.custom_ring_text{
    text-align: center;
    color: #1D3557;
    margin-top: -35px;
    font-size: 16pt;
    font-family:'Lato', sans-serif;
}

#custom_options_header{
    text-align: center;
    margin-bottom: 50px;
    color: #1D3557;
    font-size: 22pt;
    border-bottom: solid 3px #1D3557;
    width: 55%;
    margin-left: 100px;
    
}
.custom_options{
    padding-top: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    grid-column: 1/2;
    grid-row: 1/3;
    font-family: 'Lato', sans-serif;
    border-right: solid 4px #E63946;

}

.option{
    margin-bottom: 35px;
    font-size: 16pt;
    line-height: 35px;
}

#form-title{
    text-align: center;
    z-index: 2;
    margin-bottom: -60px;
    margin-top: 40px;
    font-size: 30pt;
    font-family: 'Finger Paint', cursive ;
    color: #1D3557;
}

.form-container{
    background: url("Images/jordan-mcqueen-88XM5Al3AXg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 575px;
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 0px;
    z-index: 1;
    border-top: solid 3px #1D3557;
}


/* #form_image{
    width: 800px;
    grid-column: 1/2;
    grid-row: 1/2; */
    
/* } */

.form{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: -900px;
    /* text-align: center; */
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    font-weight: 500;
}

.overlay2{
    background-color: rgba(255,255,255, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    height: 572px;
}


#button{
    color: #e2dde4;
    padding: 5px;
    font-size: 14pt;
    background-color: #1D3557;
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 5px;
}

#button:hover{
    background-color: #A8DADC;
    color: #1D3557;
}

 label{
    margin-left: 0;
    
 }

 .input{
    width: 250px;
    margin-right: 0;
    height: 25px;
 }

 #name-box{
    margin-top: 100px;
}

#email-box{
    margin-top: 15px;
}

#phone-box{
    margin-top: 15px;
}

#custom_ring_selection{
    margin-top: 15px;
    padding: 5px;
}

#requests{
    height: 110px;
    width: 250px;
    margin-left: 100px;
    
    /* margin-left: 200px;
    margin-top: -25px; */
}
#widths{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
}

#phone_label{
    margin-right: 44px;
}
#email_label{
    margin-right: 134px;
}
#any{
    margin-left: 130px;
    margin-bottom: -20px;
}